
  
     
</style>
<main id="main" class="main">
<div class="container">
  <table class="table">
    <thead>
      <th><strong>SI.no</strong></th>
      <th class="col-2"><strong>Email</strong></th>
      <th><strong>Name</strong></th>

      <th><strong>PaymentMethod</strong></th>
        <th ><strong>Payment status</strong></th>
        {{!-- <th ><strong>Coupon status</strong></th> --}}
      <th class="col-2"><strong>More</strong></th>
       
    </thead>
    <tbody>
      {{#each details}}
      <tr>
        <td>{{#indexing @index}}{{/indexing}}</td>
        <td data-label="S.No" class="col-3">{{this.Address.email}}</td>
        <td data-label="Name">{{this.Address.fullName}}</td>

        <td data-label="Marks%">{{this.paymentMethod}}</td>
          <td data-label="Marks%" style="color: gray;font-weight: 600;" >{{this.PaymentStatus}}</td>

         
         <td data-label="Marks%">
          {{#if this.couponDetails}}
         
          <p style="color: green;" >Coupon applied</p>
           {{else}}
             <p  style="color: black;">No Coupon </p>
             {{/if}}
        </td>



        <td data-label="Marks%">
          <a href="/admin/more/{{this._id}}" class="btn btn-primary">More</a>
        </td>
      </tr>
        {{/each}}

    </tbody>
  </table>
</div>
</main>