
  
     
</style>
<main id="main" class="main">
<div class="container">



  {{#each details}} 
  


<div class="row">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Reason for return</h5>
    
    <h6 class="card-text">{{this.productList.[0].returnReason}}</h6>
    
  </div>
</div>



{{!-- Address---------------------- --}}


<div class="card ml-5" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Return Address</h5>
     <h6 class="card-text">{{this.orderDetails.Address.fullName}}</h6>
    <h6 class="card-text">{{this.orderDetails.Address.address}}</h6>
     <h6 class="card-text">{{this.orderDetails.Address.town}}</h6>
      <h6 class="card-text">{{this.orderDetails.Address.state}}</h6>
       <h6 class="card-text">{{this.orderDetails.Address.postcode}}</h6>
        <h6 class="card-text">{{this.orderDetails.Address.phone}}</h6>
         <h6 class="card-text">{{this.orderDetails.Address.email}}</h6>
          
    
  </div>
</div>
</div>

 {{!-- -----------------------------------------table --}}


  <table class="table mt-1">
    <thead>
      <th><strong>SI.no</strong></th>
      <th class="col-2"><strong>product</strong></th>
      <th><strong>Name</strong></th>
       <th><strong>Quantity</strong></th>   
         <th><strong>Date</strong></th>
         
           
    </thead>
    <tbody>
      
       {{#each this.productList}}
   
      <tr>
        <td>{{@index}}</td>
        <td data-label="S.No" class="col-3"><img src="/images/product/{{this.proDetails.[0].img.[0]}}" alt=""  style="width: 70px;height: 70px;"></td>
        <td data-label="Name">{{this.proDetails.[0].name}}</td>

        <td data-label="Name">{{this.proQty}}</td>
          <td data-label="Name">{{this.date}}</td>
        

        <td data-label="Marks%">
          
        </td>
          {{/each}}    
       

    </tbody>
 
  </table>
  
  
   <div style="float: right;margin-right: 100px;"><strong>TOTAL PRICE :</strong>&nbsp; <span  class="mr-5" style="color: green;font-weight:bold;font-size: larger;">{{this.orderDetails.total}}</span></div>

 
    {{#ifEquals this.orderDetails.AdminStatus 'Return confirmed'}}

   <button  id="returnConfirmed" type="buttom" class="btn btn-success disabled"  value="Return confirmed" onclick="ReturnConfirmed('{{this._id}}','Return confirmed')">
      Return confirmed  
      </button>
      {{else}}
        <button  id="returnConfirmed" type="buttom" class="btn btn-success "  value="Return confirmed" onclick="ReturnConfirmed('{{../this._id}}','Return confirmed')">
      Return confirmed  
      </button>
      {{/ifEquals}}
   


{{!-- modal body--------------------- --}}

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>



      
    </div>
  </div>
</div>
 {{/each}}
</main>


<script>
  function ReturnConfirmed(orderId,value){
    alert(orderId)
    alert(value)
     $.ajax({
        url: '/admin/returnConfirmed',

        data: {
            order: orderId,
            AdminStatus:value
        },
        method: 'post',
        
        success: (response) => {
            location.href = '/admin/returnProducts'

        }
    })
    
    

  }
</script>
