<style>
  tr:hover {
    background-color: beige;

  }
</style>

<div class="container">
  
  <table class="table">
    <thead>
      <th><strong>SI.no</strong></th>
      <th class="col-2"><strong>Order.ID</strong></th>
      <th class="col-2"><strong>Method</strong></th>
      <th class="col-2"><strong>Date</strong></th>
      <th class="col-2"><strong>Payment status</strong></th>
      <th class="col-2"><strong>Payment method</strong></th>
      <th><strong>Options</strong></th>
    </thead>
    <tbody>
      {{#each orders}}
 
      <tr>
         <td>{{indexing @index}}</td>
        <td data-label="S.No" class="col-3 font-weight-normal">{{this._id}}</td>
        <td data-label="Name" class="font-weight-normal">{{this.paymentMethod}}</td>

        <td data-label="Marks%" class="font-weight-normal">{{this.date}}</td>

           
         {{#statusColor this.PaymentStatus}}
         <td data-label="Staus" style="color: green;" class="font-weight-normal" >{{../this.PaymentStatus}}  </td>
        
        {{else}}
        <td data-label="Staus" style="color: red;" class="font-weight-normal" >{{../this.PaymentStatus}} </td>
        {{/statusColor}}
 
         <td data-label="Marks%" class="font-weight-normal">{{this.paymentMethod}}</td>

        <td>

          {{#orderHistoryviewCart this.PaymentStatus}}
            <a href="/cart" class="btn btn-outline-warning"  style="border-radius:20px ;">View Kart</a>
            {{else}}

          <a href="/viewDetails/{{../this._id}}" class="btn btn-outline-info"  style="border-radius:20px ;">View Details</a>
           <a href="/invoice/{{../this._id}}" type="button" class="btn btn-outline-success mt-1" style="border-radius:20px ;">View invoice</a>
         {{/orderHistoryviewCart}}
       
        </td>
         {{/each}}       
    </tbody>
  </table>
</div>


