

<section>
    <div class="page-wrapper">
        

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Return<span>Products</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            

            <div class="page-content">
            	<div class="container">
                     {{#each returnProduct}}
					<table class="table table-wishlist table-mobile">
						<thead>
							<tr>
								<th style="color:black;">Product</th>
								<th style="color:black;">Product Status</th>
								<th style="color:black;">Quantity</th>
                <th style="color:black;">Price</th>
								
								
							</tr>
						</thead>

						<tbody>
                             
							<tr> 
                           
                           
								<td class="product-col">
                                  
									<div class="product">
										<figure class="product-media">
											<a href="#">
												<img src="/images/product/{{this.product.img.[0]}}" alt="Product image">
											</a>
										</figure>

										<h3 class="product-title">
											<p style="color:black;">{{this.product.name}}</p>
										</h3><!-- End .product-title -->
									</div><!-- End .product -->
								</td>
                               
								<td class="price-col">{{this.proQty}}</td>
                <td class="price-col">{{this.proStatus}}</td>
								<td class="stock-col"><span class="in-stock active" >{{this.product.price}}</span></td>
								 
                            </tr>
							
						
                            
						</tbody>
                         
					</table><!-- End .table table-wishlist -->
                    {{!-- <form method="post" action="/confirmReturn"> --}}
                    <form action="" id="returnForm">
                    <div>
	            	 <label for="" style="color:black;">reason for return</label>
                     <br>
                     <input type="text"  class="w-50" style="height:70px" name="reason"   required> 
                  
                      <input type="text" value="{{this.orderId}}" name="orderId" hidden >
                      <input type="text" value="{{this.product._id}}" name="productId" hidden>
                     
                     </div>
                       
                      
                        <button class="btn btn-primary mt-2 " type="btn" onclick="confirmReturn('{{this.orderId}}')">Submit </button>
                        </form>
                   
                        	 {{/each}}
                    <div class="wishlist-share mt-5">
	            		<div class="social-icons social-icons-sm mb-2">
	            			<label class="social-label">Share on:</label>
	    					<a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
	    					<a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
	    					<a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
	    					<a href="#" class="social-icon" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
	    					<a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
	    				</div><!-- End .soial-icons -->
	            	</div><!-- End .wishlist-share -->
            	</div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        
    </div><!-- End .page-wrapper -->
   
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
  function confirmReturn(orderId){
   
  $("#returnForm").submit((e) => {
    
  e.preventDefault()})
   swal({
  title: "Are you sure?",
  text: "Do you want to return product!",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {


    $.ajax({
    url: "/confirmReturn",
    method: "post",
    data: $("#returnForm").serialize(),
    success: (response) => {
     swal("Poof! Return request made!", {
      icon: "success",
    }).then(()=>{
      location.href='/viewDetails/'+orderId
    })
    },
  });  
  } else {
    swal("Cancel return request!");
  }
});
  }
  
</script>
</section>


